:host {
  width: calc(100% / 3);
  padding: 10px;
}

.book-item {
  border: 1px solid #333;
  box-shadow: 0 0 3px #333;
  padding: 10px;

  p {
    font-size: 14px;
  }

  span {
    font-size: 10px;
  }
}
