.game-frame {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
  flex-direction: column;
  align-items: center;

  & > div {
    width: 100%;
  }
}

.result-window {
  display: flex;
  align-items: stretch;
  height: 100%;

  &__score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    flex: none;
    font-size: 36px;
    padding: 20px 15px;

    span {
      text-align: center;
      font-size: 16px;
    }
  }

  &__main {
    flex: 1 1 auto;

    & > .result {
      text-align: center;
      font-size: 24px;

      &.win {
        color: green;
      }

      &.lose {
        color: red;
      }
    }

    & > .choice {
      text-align: center;
      font-size: 14px;
    }
  }

  .history-list {
    height: 400px;
    box-shadow: 0 0 5px #333;
    margin-bottom: 20px;
    overflow-y: scroll;
  }
}

.game-frame-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  button {
    margin: 0 20px;
    padding: 4px 10px;
    font-size: 14px;
  }
}

.history-list {
  &__item {
    display: flex;
    padding: 3px 8px;
    border-bottom: 1px solid #333;

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      width: 150px;
      flex: none;

      &:last-child {
        align-items: flex-end;
      }
    }

    .middle {
      flex: 1 1 auto;
      text-align: center;
      font-size: 26px;
    }

    .time {
      line-height: 18px;
      font-size: 12px;
    }

    .choice {
      font-size: 14px;
      line-height: 18px;
    }

    .result {
      font-weight: 500;

      &.win {
        color: green;
      }

      &.lose {
        color: red;
      }
    }
  }
}
