<div class="game-frame">
  <div class="result-window">
    <div class="result-window__score">
      <span>User Score</span>
      {{userScore}}
    </div>
    <div class="result-window__main">
      <div class="history-list">
        <div class="history-list__item" *ngFor="let item of gameResults">
          <div>
            <span class="time">{{item.time}}</span>
            <span class="choice">{{getTitle(item.userChoice)}}</span>
          </div>
          <div class="middle">{{item.score}}</div>
          <div>
            <span class="result {{getResultClass(item.result)}}">{{gameResultPhrases[item.result]}}</span>
            <span class="choice">{{getTitle(item.aiChoice)}}</span>
          </div>
        </div>
      </div>
      <div *ngIf="!isGameStarted" class="message">Сделайте свой выбор</div>
      <div *ngIf="isGameStarted" class="result {{getResultClass(gameResult)}}">{{gameResultPhrases[gameResult]}}</div>
      <div *ngIf="isGameStarted" class="choice">AI выбрал {{getTitle(AIChoice)}}</div>
    </div>
    <div class="result-window__score">
      <span>AI Score</span>
      {{aiScore}}
    </div>
  </div>
  <div class="game-frame-buttons">
    <button (click)="userButtonClickHandler(0)">{{getTitle(0)}}</button>
    <button (click)="userButtonClickHandler(1)">{{getTitle(1)}}</button>
    <button (click)="userButtonClickHandler(2)">{{getTitle(2)}}</button>
    <button (click)="userButtonClickHandler(3)">{{getTitle(3)}}</button>
    <button (click)="userButtonClickHandler(4)">{{getTitle(4)}}</button>
  </div>
</div>
