nav {
  ul {
    display: flex;
    margin: 0 20px;
    list-style-type: none;

    li {
      margin: 0 5px;

      a {
        padding: 3px 5px;
        color: #333;
        text-decoration: none;
      }
    }
  }
}
