<div>
  <div>
    <h4>Choose lesson for filtration</h4>
    <div>
      <button (click)="changeFiltrationClick(1)">Lesson 1</button>
      <button (click)="changeFiltrationClick(2)">Lesson 2</button>
      <button (click)="changeFiltrationClick(3)">Lesson 3</button>
      <button (click)="changeFiltrationClick(4)">Lesson 4</button>
      <button (click)="changeFiltrationClick(0)">Reset</button>
    </div>
  </div>
  <dl *ngFor="let lesson of lessons | filterByLesson: filterLesson">
    <dt>{{lesson.question}}</dt>
    <dd>
      <app-ul-list
        *ngIf="checkForObject(lesson.answer); else elseNotObject"
        [ul-list]="lesson.answer"
      ></app-ul-list>
      <ng-template #elseNotObject>
        <p [innerHTML]="lesson.answer"></p>
      </ng-template>
    </dd>
  </dl>
</div>
