<div>
  <dl>
    <dt>What is SPA? Explain in your own words</dt>
    <dd>
      SPA(Single Page Application) - одностраничное приложение, особенностью которого является то, что
      для работы приложения используется единственный HTML, а при взяимодействии
      пользователя с приложеннием все HTML, CSS, JS подгруужаются динамически без перезагрузки страницы.
    </dd>
  </dl>
  <dl>
    <dt>What is the difference between framework and library?</dt>
    <dd>

    </dd>
  </dl>
  <dl>
    <dt>Name a few advantages of angular</dt>
    <dd></dd>
  </dl>
  <dl>
    <dt>Why do we need CLI in Angular?</dt>
    <dd></dd>
  </dl>
  <dl>
    <dt>Name CLI command to create a component</dt>
    <dd>ng g c -(name-of-component)- or full version ng generate component -(name-of-component)-</dd>
  </dl>
  <dl>
    <dt>What do you understand by DRY?</dt>
    <dd></dd>
  </dl>
</div>
