<div>
  <dl>
    <dt>What is SPA? Explain in your own words</dt>
    <dd>
      SPA(Single Page Application) - одностраничное приложение, особенностью которого является то, что
      для работы приложения используется единственный HTML и все необходимые елементы находятся на одной странице,
      а при взяимодействии пользователя с приложеннием все HTML, CSS, JS подгруужаются динамически без перезагрузки страницы.
    </dd>
  </dl>
  <dl>
    <dt>What is the difference between framework and library?</dt>
    <dd>
      Фреймворк отличается от библиотеки тем, что Фреймворк этоо уже готовая сборка из плагиновв или модулей которые
      необходдимы для созддания полноценного приложения, а в библиотеке программист самм подключает модули котрые он хочет
      использовать. Так же Фреймворк накладывает опреденный стиль программирования, его элементы сильнее связаны между собой.
    </dd>
  </dl>
  <dl>
    <dt>Name a few advantages of angular</dt>
    <dd>
      <ul>
        <li>Высокое качество разрабатываеммых приложений.</li>
        <li>Эффективная кросплатформенная разработка. С помощью ангуляр можно разрабатывать приложения которые будут
          работать в современных браузерах.</li>
        <li>Скорость работы - приложение работает в разы быстрее, за счет того что при взаимодействии с пользователем
          страница не перезагружается, а обновляются только измененные модули.</li>
        <li>Скорость разработки. С помощью уже собраной базы модулей, CLI и готвой структуры проэкта можно легкоо и быстро
          создавать приложения.</li>
        <li>Подключенная библиоотека Material Design с заранее готовыми стилями и скриптами, наиболее используемых элементов
          страницы сайта попапы, тултипы, аккордионы, меню, элементы форм и прочее...</li>
      </ul>
    </dd>
  </dl>
  <dl>
    <dt>Why do we need CLI in Angular?</dt>
    <dd>
      Это интерфейс командной строки который позволяет использовать специальные команды для инициализации базовой
      структуры приложения, быстрого создания компонентов, модулей, пайпов, сервисов необходимых для разработки приложения на Ангуляре.</dd>
  </dl>
  <dl>
    <dt>Name CLI command to create a component</dt>
    <dd>ng g c -(name-of-component)- or full version ng generate component -(name-of-component)-</dd>
  </dl>
  <dl>
    <dt>What do you understand by DRY?</dt>
    <dd>
      DRY(Don't repeat yourself) - означает то, что необходимо(рекомендуется) разрабатывать код не дублируя его вв
      разных участках, а использовать модульную систему и переиспользовать уже готовые функции, компоненты импортируя
      их в разрабатываемые компоненты для повторного использования.
    </dd>
  </dl>
</div>
